@font-face {
    font-family: navbrand;
    src: url(fonts/OCRAEXT.TTF);
}

@font-face {
    font-family: bpgnino;
    src: url(fonts/bpgnino.ttf);
}

* {
    cursor: url(cursor/mCurs.png) 12 12, auto;
    user-select: none;
    font-family: bpgnino;
    color: #189e94;
}
iframe {
    cursor: url(cursor/mCurs.png) 12 12, auto;
    /* pointer-events: none; */
}

a {
    cursor: url(cursor/mCursPoint.png) 12 12, auto;
}

h5 {
    font-weight: bold !important;
}
.custom-link {
    text-decoration: underline;
    color: #189e94;
}
.custom-link:hover {
    color: #1bb3a8;
}

.darkGreen {
    background-image: url(background.svg);
    width: 100%;
    background-color: #021d1d;
    background-size: cover;
    overflow: hidden;
}

.navbarBrand {
    font-family: 'navbrand' !important;
    color: #189e94 !important;
    font-size: 3em !important;
    transition: 0.3s;
}

.navbarBrand:hover {
    text-shadow: -2px -2px 0 #05302f;
}

.leftSideBar {
    margin-top: 60px;
    margin-left: 60px;
}

#Home {
    background-image: url(icons/Home.svg);
    width: 70px;
    height: 70px;
    background-size: cover;
    cursor: url(cursor/mCursPoint.png) 12 12, auto;
    transition: 0.3s;
}

#Home:hover {
    background-image: url(icons/Home2.svg) !important;
}

#Portfolio {
    background-image: url(icons/Portfolio.svg);
    width: 70px;
    height: 70px;
    margin-top: 80px;
    background-size: cover;
    cursor: url(cursor/mCursPoint.png) 12 12, auto;
    transition: 0.3s;
}

#Portfolio:hover {
    background-image: url(icons/Portfolio2.svg) !important;
    width: 70px;
    height: 70px;
    background-size: cover;
}

#Contact {
    background-image: url(icons/Contact.svg);
    width: 70px;
    height: 70px;
    margin-top: 80px;
    background-size: cover;
    cursor: url(cursor/mCursPoint.png) 12 12, auto;
    transition: 0.3s;
}

#Contact:hover {
    background-image: url(icons/Contact2.svg) !important;
    width: 70px;
    height: 70px;
    background-size: cover;
}

input[type=search] {
    cursor: url(cursor/mCursSearch.png) 0 12, auto;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    background-image: url(icons/searchClear.svg);
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
    cursor: url(cursor/mCursPoint.png) 5 9, auto;
}
input[type=search]::selection {
    color: orange;
}

.inputControl {
    outline: none;
    border: 5px solid #053030;
    padding-top: 4px;
    padding-left: 10px;
    font-family: bpgnino;
    border-radius: 5px;
    width: 100px;
    float: right;
    transition: 0.3s;
    background-color: #053030;
    color: #189e94;
}

.inputControl:hover {
    width: 115px;
}

.inputControl:focus {
    width: 250px;
}

#extInfBox {
    width: 75%;
    height: 500px;
    margin-left: 90px;
    position: absolute;
    transition: 0.3s;
    display: block;
    opacity: 0;
}

#extInfshower {
    top: 20px;
    left: -28px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 30px 15px 0;
    border-color: transparent #021d1d transparent transparent;
    position: absolute;
    transition: 0.7s;
}

#myHeader {
    width: 100%;
    height: 60px;
    padding: 20px 40px;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    position: absolute;
    background: #021d1d;
}

#myHr {
    width: 100%;
    height: 1px;
    top: 60px;
    background-image: linear-gradient(to right, transparent, #18a097, transparent);
    position: absolute;
}

#extInfo {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-radius: 20px;
    padding: 80px 50px 20px 50px;
    background-color: #021d1d;
    position: absolute;
    box-shadow: 5px 5px 5px rgba(1, 10, 10, 0.3);
}

@media (min-width: 1367px) {
    #extInfBox {
        width: 45%;
    }
}

#closeBtn {
    background-image: url(icons/CloseBtn.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
    cursor: url(cursor/mCursPoint.png) 12 12, auto;
    position: absolute;
}

#showContent {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
}

.block-bordered {
    background: #08312e;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: url(cursor/mCursCopy.png) 12 12, auto;
    transition: 0.3s;
}

.block-bordered:hover {
    color: #062523;
    background: #16857d;
}
.block-bordered:active {
    color: #031413;
    background: #28ecdf;
}

.tooltiptext {
    top: 35px;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    visibility: visible;
    font-size: 12px;
    position: absolute;
    color: white;
    background: black;
}